.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid black;
}

.logo{
    
    width: 160px;
    height: 90px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin: 10px;
    
    
}

.nav-items > ul > li{
    margin: 2px;
    padding: 8px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.Search{
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
}

.Search > input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

.Search > .searchBtn{
    margin-left: 10px;
    height: 30px;
    width: 18%;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid orangered;
    background-color: orangered; color: white;
    cursor: pointer;
    line-height: 0px;
}

.Search > .searchBtn:hover{
    box-shadow: 2px 2px 2px #888888;
}

.res-container > .res-card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.res-card-container > a{
    text-decoration: none;
    color: inherit;
}

.res-container-heading{
    margin: 10px;
    margin-left: 30px;
    font-size: larger;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.res-card > .res-logo{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px;
}

.res-card > .res-det{
    margin-bottom: 5px;
}

.res-card > .res-det > .res-name > .LinesEllipsis{
    text-align: left;
    margin: 2px;
    font-size: 18px;
    font-weight: 700;
}

.res-card > .res-det> .res-area > h4{
    margin: 2px;
    font-weight: 100;
    font-size: 15px;
}

.res-card > .res-det> .res-rating{
    display: flex;
    text-align: left;
    margin-top: 0%;
}

.res-card >.res-det> .res-rating > h3{
    margin-right: 30px;
    margin: 2px;
    font-size: 16px;
}

.res-card, .shimmer-card{
    padding: 5px;
    margin: 10px;
    height: 308px;
    max-width: 175px; 
    border-radius: 10px;
    background-color: #f0f0f0;
}

.shimmer-card{
    padding: 5px;
    margin: 10px;
    height: 308px;
    width: 20%;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.res-card:hover{
    /* border: 0.5px solid black; */
    box-shadow: 5px 5px 19px #888888;
    cursor: pointer;
}

.filter > .filter-btn{
    margin-left: 42%;
}

.shimmer-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.login-btn{

    margin: 18px;
    margin-top: 25px;
    width: 100px;
    height: 30px;
    /* padding-top: 30px; */
    font-size:medium;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.user-card{
    border: 2px solid black;
    max-width: 20%;
    padding: 5px;
   
}

.user-card > .user-image > img{
    width: 100px;
    height: 100px;
}

.user-card > .user-image {
    display: inline-flex;
    align-items: center;
    margin-left: 30%;
}

